<div class="row">
  <div class="col">
    <h1>Bienvenu sur ce shell Angular</h1>
    <p>Ce contenu est la page d'accueil qui appartient au shell.</p>

    <a
      class="btn btn-primary"
      routerLink="/mfe1"
      role="button">
      Accéder au mfe
    </a>

  </div>
</div>